body{
    background-color:blanchedalmond;
    text-align: center; 
}
h1{
    color:rgb(250, 0, 0);
    font-family: monospace;
}
h3{
    color:darkblue;
    font-family:cursive;
}
#para{
    color:brown;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.c1{
    color:darkgreen;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif
}
.c2{
    color:blueviolet;
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
}